:root {
    --bianco: #fff;
    --violaDark: #0f041a;
    --grigio: #2f4f4fa7;
    --violaOP: #8419ff;
    --viola: #1e053a;
}

* {
    font-family: 'Oxigen';
}

@font-face {
    font-family: 'Oxigen';
    src: local('Oxygen-Regular'), url('../font/Oxygen-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Title';
    src: local('BebasNeue-Regular'), url('../font/BebasNeue-Regular.ttf') format('truetype');

}

body {
    margin: 0;
    background-color: var(--violaDark);

}

section {
    margin: 200px 0px;
}

p,
a,
h1,
h3,
h4,
li {
    color: var(--bianco);
}

li,
p {
    font-size: larger;
}

li {
    margin-bottom: 20px;
}

ul {
    margin-left: 20px;
}

a {
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    padding: 5px 0;
    text-transform: uppercase;
    position: relative;
}

.div-img img {
    width: 100%;
}

/* Sezione NavBar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 2;
    background-color: var(--grigio);
    width: 80%;
    height: 60px;
    margin: 1% 10%;
    border-radius: 10px;
}

nav a::after {
    content: "";
    width: 0px;
    height: 2px;
    transition: 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: var(--bianco);
}

nav a:hover::after {
    width: 100%;
}

.logo {
    width: 20%;
    border-radius: 50%;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grid-template-2-cols {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

/* Sezione Header */

header {
    height: 1000px;
    position: relative;
    background-image: url(/img/rocket.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
    max-width: 60%;
    max-height: 40%;
    place-items: center;
    font-size: 700%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Title;
}

#introBtn {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}

header a {
    border: 1px solid var(--bianco);
    padding: 20px 50px;
    margin-top: 10px;
    font-size: x-large;
}

h2,
h3 {
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: x-large;
    background-color: var(--viola);
    color: var(--violaOP);
    border: 1px solid var(--violaOP);
    padding: 10px;
    display: inline-block;
    border-radius: 9999px;
}

#about,
#work,
#customer,
#services {
    text-align: center;
}

/* Sezione About */

#about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: space-around;
    align-items: center;
    font-size: large;
}

/* Sezione Work */

.image-prj {
    position: relative;
    width: 100%;
    align-items: center;

}

.image {
    display: block;
    max-height: 500px;
    overflow: hidden;
    border-radius: 20px;
    filter: blur(0px);
    -webkit-filter: blur(0px);
}

.blur-effect {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*background: rgba(0, 0, 0, 0.5);*/
    width: 94%;
    transition: .5s ease;
    opacity: 0;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}

/* Quando il cursore passa sopra l'immagine rendi visibile il testo e opacizza lo sfondo*/

.image-prj:hover .blur-effect {
    opacity: 1;
}

.image:hover {
    filter: blur(5px);
    -webkit-filter: blur(5px);
    transition: -webkit-filter 0.5s ease-in;
}

/* Swiper */

.carosel {
    min-width: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--violaDark);
}

.slide-container {
    max-width: 1120px;
    width: 100%;
    background-color: var(--violaDark);
    padding: 40px 0;
}

.slide-content {
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card {
    border-radius: 25px;
    background-color: var(--violaDark);
    width: 320px;
}

.image-content,
.card-content {
    padding: 10px 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content {
    row-gap: 5px;
    position: relative;
    padding: 25px;
}

.swiper-navBtm {
    color: var(--grigio);
    transition: color 0, 3 ease;
}

.swiper-navBtm:hover {
    color: var(--violaOP);
}

.swiper-navBtm::before,
.swiper-navBtm::after {
    font-size: 40px;
}

.swiper-button-next {
    right: 0;
}

.swiper-button-prev {
    left: 0;
}

.swiper-pagination-bullet {
    background-color: var(--grigio);
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: var(--grigio);
    opacity: 1;
    background-color: var(--violaOP);
}

.carosel p {
    font-size: medium;
}

@media screen and (max-width: 790px) {
    .carosel {
        min-width: 100vw;
    }

    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtm {
        display: none;

    }

    .image {
        display: inline;
    }
}

@media screen and (max-width: 480px) {
    .slide-content {
        margin: 0 10px;
    }

    .swiper-navBtm {
        display: none;

    }

    .carosel {
        min-width: 100vw;
    }

    .image {
        display: inline;
    }
}

/* Sezione Customer */

.customer-profile {
    display: flex;
    align-items: center;
}

.customer-profile p {
    margin: 0;
}

.customer-img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin: 0 10px;
}

.customer-text {
    padding: 10px;
}

.item,
.services-box {
    border: 1px solid var(--violaOP);
    border-radius: 10px;
    margin: 20px;
}

.item {
    background-image: url(/img/nebulosa.jpg);
    background-size: cover;
    background-position: center;
}

/* Sezione Services */

.services-box {
    height: 600px;
    background: none;
}



/* Sezione Contact */

#contact {
    width: 90%;
}

footer {
    width: 100%;
    bottom: auto;
    opacity: 40%;
}

#social-icon {
    color: var(--bianco);
    text-align: center;
    margin: 50px;
}

#social-icon i {
    margin-left: 20px;
}

@media screen and (max-width: 790px) {

    nav {
        height: 40px;
        align-items: center;
    }

    .logo {
        display: none;
    }

    .grid-template-2-cols {
        display: inline;
    }

    h1 {
        font-size: 400%;
    }

    h2 {
        font-size: large;
    }

    #introBtn {
        flex-direction: column;
    }

    #about,
    #contact {
        display: inline;
    }

    #about img {
        margin-bottom: 50px;
    }

    #social-icon a {
        display: block;
        font-size: small;
        font-size: larger;
    }

}

@media screen and (max-width: 480px) {

    nav {
        height: 40px;
        align-items: center;
    }

    nav a {
        font-size: 10px;
    }

    h1 {
        font-size: 300%;
    }

    h2 {
        font-size: large;
    }

    .grid-template-2-cols {
        display: inline;
    }

    #introBtn {
        flex-direction: column;
    }

    #about,
    #contact {
        display: inline;
    }

    #about img {
        margin-bottom: 30px;
    }

    #social-icon a {
        display: block;
        font-size: small;
    }
}