:root{
    --bianco: #fff;
    --viola: #0f041a;
    --grigio:#2f4f4fa7;
    --violaOP: #8419ff;
}

body{
    margin: 0;
    background-color: var(--viola);
}
p{
    color: var(--bianco);
}
a{
    color: var(--bianco);
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}
/* Sezione NavBar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 1;
    background-color: var(--grigio);
    width: 80%;
    margin: 10px 10%;
    border-radius: 10px;
}
.logo{
    flex: 3;
    justify-content: center;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sezione Header */

header{
    position: relative;
    width: 100%;
    color: var(--bianco);
}
header img{
    width: 100%;
}
h1{
    width: 60%;
    height: 40%;
    place-items: center;
    font-size: 400%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.h-box{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box{
    border: 1px solid var(--bianco);
    border-radius: 20px;
    padding: 10px;
    margin: 40px;
}
header a{
    width: 50%;
    height: 50%;
    text-decoration: none;
}
#profile{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#profile img{
    width: 100%;
}
.about-box{
    color: #fff;
    margin-left: 40px;
    position: relative;
}
.about {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#work{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.work-card{
    width: 90%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px;
    position: relative;
}
.work-card img{
    width: 100%;
    height: 450px;
    border-radius: 20px;
    opacity: 50%;
}
.work-card h3{
    font-size: x-large;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2{
    color: #fff;
    text-align: center;
}
#customer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.customer-card{
    width: 90%;
    margin: 10px auto;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}
.customer-card-footer img{
    width: 15%;
    float:left;
    margin-right: 20px;
    border-radius: 50%;
}
footer{
    width: 100%;
    bottom: auto;
    opacity: 50%;
}
