:root{
    --bianco: #fff;
    --violaDark: #0f041a;
    --grigio:#2f4f4fa7;
    --violaOP: #8419ff;
    --viola: #240844;
}
@font-face {
        font-family: Oxigen; src: url(./svg/Oxygen-Regular.ttf);
}
@font-face {
    font-family: Title; src:url(./svg/BebasNeue-Regular.ttf);

}
* {
    font-family: Oxigen;
}

body{
    margin: 0;
    background-color: var(--violaDark);
}
section{
    margin: 200px 0px;
}
p, a, h1, h3{
    color: var(--bianco);
}
a{
    text-decoration: none;
    font-size: 16px;
    margin: 0 20px;
    text-transform: uppercase;
}
.div-img img{
    width: 100%;
}
/* Sezione NavBar */

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 1;
    background-color: var(--grigio);
    width: 80%;
    height: 60px;
    margin: 1% 10%;
    border-radius: 10px;
}

.logo{
    flex: 3;
    justify-content: center;
}
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.grid-template-2-cols {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.relative{
    position: relative;
}
.border{
    border: 1px solid var(--bianco);
    padding: 20px 50px;
    margin: 40px;
}

/* Sezione Header */

header{
    width: 100%;
}
h1{
    max-width:60%;
    max-height: 40%;
    place-items: center;
    font-size: 600%;
    text-align: center;
    text-transform: uppercase;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Title;
}

header a{
    width: 50%;
    height: 50%;
}

h2,h3{
    text-align: center;
    margin-bottom: 30px;
}
h2 {
    font-size: medium;
    background-color: var(--viola);
    color: var(--violaOP);
    border: 1px solid var(--violaOP);
    padding: 10px;
    display: inline-block;
    border-radius: 9999px;
}
#about,#work,#customer,#services{
    text-align: center;
}

/* Sezione Work */

/* Sezione Customer */


/* Sezione Services */

footer{
    width: 100%;
    bottom: auto;
    opacity: 60%;
}


/* View Responsiva */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 300%;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 200%;
    }
}